<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <script src="/static/update.js"></script>
</head>
<body>
  <div class="viewArea">
    {{#each numbers}}
      <button disabled="true">
        {{name}}
        {{number}}</button>
      <br />
    {{/each}}
  </div>
  <div class="buttonArea">
    <form id="update">
      <input
        type="text"
        name="name"
        value="{{name}}"
        maxlength="40"
        oninput="getElementById('delete').disabled=1"
      />
      <input
        type="text"
        name="number"
        maxlength="15"
        value="{{number}}"
        oninput="getElementById('delete').disabled=1"
      />
    </form>

    <input
      class="buttonAreButton"
      type="button"
      value="Update"
      onclick="update('{{number}}')"
    />
    <input
      class="buttonAreButton"
      type="button"
      id="delete"
      value="Delete"
      onclick="deleteNumber('{{number}}')"
    />
      {{> cancelButton}}
  </div>

</body>